{% extends 'inventapp/home.html' %}
{% block title %}List{% endblock %}

{% block content %}
<section>
    <div class="container pt-5">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                <th scope="col">S.No</th>
                <th scope="col">Product Code</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}